NEXT_PUBLIC_APP_NAME="NextJS Boilerplate"

# Sentry logging
# You can use different DSN for backend and frontend logging.
# Or you can use the same one.
# Leave any value empty to disable logging
SENTRY_DSN=
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=

# The URL of NextJS app (do not add trailing slash)
NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000
# The URL of backend server (do not add trailing slash)
NEXT_PUBLIC_BACKEND_URL=http://localhost:5001